.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  border: 2px solid black;
  background: rgb(236,249,255);
background: linear-gradient(90deg, rgba(236,249,255,1) 0%, rgba(248,234,216,1) 50%, rgba(236,249,255,1) 100%);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 500px;
  border: 2px solid black;
}

.input{
  border: 2px solid black;
}

.input::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.btn{
  width: 260px;
  margin: 20px;
  height: 35px;
  background-color: black;
  color: white;
  letter-spacing: 3px;
}