.profile_form{
    /* height: 400px; */

    padding: 20px;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* border: 2px solid saddlebrown; */
}


.StudentForm{
    /* border: 2px solid tomato; */
    /* height: 120px; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content:space-between;
    margin: 20px;
}
.form_content{
    /* border: 2px solid salmon; */
    width: 450px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_box{
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid gray; */
}

.name_input{
    width: 250px;
    margin: 10px;
    height: 18px;
}


.submit_form{
    width: 80%;

    letter-spacing: 2px;
    height: 40px;
    margin: 30px;
    background-color: #3D1766;
    color: whitesmoke;
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    border: none;
    border-radius: 9px;
}

.btnDiv{
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}