.semesters_box{
    width: 98%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h3{
    margin: 20px;
}

.boxy{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid tomato; */
    justify-content: center;
    width: 60%;
}